{% extends 'base.twig' %}

{% block body %}
<main>
    <div class="main-wrapper">
        <div class="main-sidebar">
            <div class="main-sidebar-template" style="display: block">
                <button class="code-copy code-copy_side">Скопировать код</button>
                <button class="create-zip__side" data-id="{{ id }}" data-name="{{ title }}">Получить .zip</button>
            </div>
            <div class="main-sidebar__header" style="display: flex">
                <div class="main-sidebar__header-btn" data-item="blocks">
                    <p>Блоки</p>
                </div>
                <div class="main-sidebar__header-btn main-sidebar__header-btn_active" data-item="structure">
                    <p>Структура</p>
                </div>
            </div>

            <div class="main-sidebar__blocks" style="display:none;">
                <div class="main-sidebar__block" data-block="header">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/9.svg" alt="">
                    </div>
                    <p>Header</p>
                </div>

                <div class="main-sidebar__block" data-block="banner">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/8.svg" alt="">
                    </div>
                    <p>Баннер</p>
                </div>

                <div class="main-sidebar__block" data-block="timer">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/6.svg" alt="">
                    </div>
                    <p>Таймер</p>
                </div>

                <div class="main-sidebar__block" data-block="single-product">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/1.svg" alt="">
                    </div>
                    <p>1 товар</p>
                </div>

                <div class="main-sidebar__block" data-block="two-product">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/5.svg" alt="">
                    </div>
                    <p>2 товара</p>
                </div>

                <div class="main-sidebar__block" data-block="two-product-2">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/10.svg" alt="">
                    </div>
                    <p>2 товара</p>
                </div>

                <div class="main-sidebar__block" data-block="two-product-3">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/2.svg" alt="">
                    </div>
                    <p>2 товара</p>
                </div>

                <div class="main-sidebar__block" data-block="three-product">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/4.svg" alt="">
                    </div>
                    <p>3 товара</p>
                </div>

                <div class="main-sidebar__block" data-block="footer">
                    <div class="main-sidebar__block-image">
                        <img src="/assets/images/icons/3.svg" alt="">
                    </div>
                    <p>footer</p>
                </div>

                <div class="main-sidebar-settings-btn">
                    <img src="/assets/images/icons/settings.svg" alt="">
                    <p>Настройки шаблона</p>
                </div>

                <div class="main-sidebar-reset-btn">
                    <img src="/assets/images/icons/reset.svg" alt="">
                    <p>Сброс кэша</p>
                </div>
            </div>

            <!--block for append elements-->
            <div class="structure-wrapper" style="display:block;">
                {% for jsonItem in json %}
                {% if jsonItem.blockName == 'header' %}
                <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/9.svg" alt="">
                            </div>
                            <p>Header</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        <div class="main-sidebar__block-prop-select">
                            <div class="main-sidebar__block-prop-input"><label for="">Сайт</label><input type="text"
                                    value="{{ jsonItem.siteName }}" readonly><img src="/assets/images/icons/triangle.svg" alt=""></div>
                            <ul class="main-sidebar__block-prop-select-list">
                                <li>Joseph Kitchen</li>
                                <li>Umbra Shop</li>
                                <li>Mason Cash</li>
                                <li>Reisenthel</li>
                                <li>Monbento</li>
                                <li>Guzzini</li>
                                <li>Liberty Jones</li>
                                <li>Smart Solutions</li>
                                <li>Bergenson Bjorn</li>
                                <li>Silikomart</li>
                                <li>Wildtoys</li>
                                <li>SCHLEICH</li>
                                <li>Djeco</li>
                                <li>SafariToys</li>
                                <li>Typhoon</li>
                                <li>Likelunch</li>
                            </ul>
                        </div>
                        <div class="main-sidebar__block-prop-btns">
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'banner' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/8.svg" alt="">
                            </div>
                            <p>Баннер</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        <form action="" method="post" enctype="multipart/form-data"><label class="input-file">
                                <div class="input-file-block"><img src="{{ jsonItem.img }}" alt="" class="banner-img"
                                        style="width: 75%; height: 75%;"><input type="file" name="file[]"
                                        accept="image/*"></div>
                            </label></form>
                        <div
                            class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin main-sidebar__block-prop-input_banner-link">
                            <label for="">Ссылка</label><input type="text" placeholder="Ссылка" value="{{ jsonItem.link }}">
                        </div>
                        <div
                            class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin main-sidebar__block-prop-input_margin main-sidebar__block-prop-input_banner-alt">
                            <label for="">Alt текст</label><input type="text" placeholder="Alt текст" value="{{ jsonItem.alt }}">
                        </div>
                        <div class="main-sidebar__block-prop-btns">
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'timer' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/6.svg" alt="">
                            </div>
                            <p>Таймер</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        <div class="main-sidebar__block-prop-input"><label for="">Время действия таймера</label><input
                                type="text" value="{{ jsonItem.timer }}"></div>
                        <div class="main-sidebar__block-prop-btns">
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'single-product' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/1.svg" alt="">
                            </div>
                            <p>1 товар</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        {% for product in jsonItem.products %}
                            <div class="main-sidebar__product">
                                <div class="main-sidebar__product-wrapper">
                                    <div class="main-sidebar__block-prop-input">
                                        <label for="">Ссылка на товар</label>
                                        <input type="text" placeholder="Ссылка на товар" value="{{ product.link }}">
                                    </div>
                                </div>
                                <div class="sale-block">
                                    <h4>Скидки</h4>
                                    <div class="sale-block__wrapper">
                                        {% for sale in product.sale %}
                                            <div class="sale-block__item">
                                                <div class="sale-block__item-unit">
                                                    <label for="">Размер скидки</label>
                                                    <input type="text" placeholder="10%" value="{{ sale.text }}">
                                                </div>
                                                <div class="sale-block__item-unit">
                                                    <label for="">Цвет HEX</label>
                                                    <input type="text" placeholder="#ff0000" value="{{ sale.color }}">
                                                </div>
                                                <img src="/assets/images/icons/cross.svg" alt="" class="remove-sale">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="sale-block__btn">
                                        <p>Добавить скидку</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="main-sidebar__block-prop-btns">
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'two-product' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/5.svg" alt="">
                            </div>
                            <p>2 товара</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        {% for product in jsonItem.products %}
                            <div class="main-sidebar__product">
                                <div class="main-sidebar__product-wrapper">
                                    <div class="main-sidebar__block-prop-input">
                                        <label for="">Ссылка на товар</label><input type="text" placeholder="Ссылка на товар" value="{{ product.link }}">
                                    </div>
                                </div>
                                <div class="sale-block">
                                    <h4>Скидки</h4>
                                    <div class="sale-block__wrapper">
                                        {% for sale in product.sale %}
                                            <div class="sale-block__item">
                                                <div class="sale-block__item-unit">
                                                    <label for="">Размер скидки</label>
                                                    <input type="text" placeholder="10%" value="{{ sale.text }}">
                                                </div>
                                                <div class="sale-block__item-unit">
                                                    <label for="">Цвет HEX</label>
                                                    <input type="text" placeholder="#ff0000" value="{{ sale.color }}">
                                                </div>
                                                <img src="/assets/images/icons/cross.svg" alt="" class="remove-sale">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="sale-block__btn">
                                        <p>Добавить скидку</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="main-sidebar__block-prop-btns">
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'two-product-1' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/10.svg" alt="">
                            </div>
                            <p>2 товара</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        {% for product in jsonItem.products %}
                            <div class="main-sidebar__product">
                                <div class="main-sidebar__product-wrapper">
                                    <div class="main-sidebar__block-prop-input">
                                        <label for="">Ссылка на товар</label>
                                        <input type="text" placeholder="Ссылка на товар" value="{{ product.link }}">
                                    </div>
                                </div>
                                <div class="sale-block">
                                    <h4>Скидки</h4>
                                    <div class="sale-block__wrapper">
                                        {% for sale in product.sale %}
                                            <div class="sale-block__item">
                                                <div class="sale-block__item-unit">
                                                    <label for="">Размер скидки</label>
                                                    <input type="text" placeholder="10%" value="{{ sale.text }}">
                                                </div>
                                                <div class="sale-block__item-unit">
                                                    <label for="">Цвет HEX</label>
                                                    <input type="text" placeholder="#ff0000" value="{{ sale.color }}">
                                                </div>
                                                <img src="/assets/images/icons/cross.svg" alt="" class="remove-sale">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="sale-block__btn">
                                        <p>Добавить скидку</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="main-sidebar__block-prop-btns">
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'two-product-2' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/2.svg" alt="">
                            </div>
                            <p>2 товара</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        {% for product in jsonItem.products %}
                            <div class="main-sidebar__product">
                                <div class="main-sidebar__product-wrapper">
                                    <div class="main-sidebar__block-prop-input">
                                        <label for="">Ссылка на товар</label>
                                        <input type="text" placeholder="Ссылка на товар" value="{{ product.link }}">
                                    </div>
                                </div>
                                <div class="sale-block">
                                    <h4>Скидки</h4>
                                    <div class="sale-block__wrapper">
                                        {% for sale in product.sale %}
                                            <div class="sale-block__item">
                                                <div class="sale-block__item-unit">
                                                    <label for="">Размер скидки</label>
                                                    <input type="text" placeholder="10%" value="{{ sale.text }}">
                                                </div>
                                                <div class="sale-block__item-unit">
                                                    <label for="">Цвет HEX</label>
                                                    <input type="text" placeholder="#ff0000" value="{{ sale.color }}">
                                                </div>
                                                <img src="/assets/images/icons/cross.svg" alt="" class="remove-sale">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="sale-block__btn">
                                        <p>Добавить скидку</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="main-sidebar__block-prop-btns">
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'three-product' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/4.svg" alt="">
                            </div>
                            <p>3 товара</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        {% for product in jsonItem.products %}
                            <div class="main-sidebar__product">
                                <div class="main-sidebar__product-wrapper">
                                    <div class="main-sidebar__block-prop-input">
                                        <label for="">Ссылка на товар</label>
                                        <input type="text" placeholder="Ссылка на товар" value="{{ product.link }}">
                                    </div>
                                </div>
                                <div class="sale-block">
                                    <h4>Скидки</h4>
                                    <div class="sale-block__wrapper">
                                        {% for sale in product.sale %}
                                            <div class="sale-block__item">
                                                <div class="sale-block__item-unit">
                                                    <label for="">Размер скидки</label>
                                                    <input type="text" placeholder="10%" value="{{ sale.text }}">
                                                </div>
                                                <div class="sale-block__item-unit">
                                                    <label for="">Цвет HEX</label>
                                                    <input type="text" placeholder="#ff0000" value="{{ sale.color }}">
                                                </div>
                                                <img src="/assets/images/icons/cross.svg" alt="" class="remove-sale">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="sale-block__btn">
                                        <p>Добавить скидку</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="main-sidebar__block-prop-btns">
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                    class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if jsonItem.blockName == 'footer' %}
                    <div class="structure-block" data-structure="{{ jsonItem.blockName }}">
                    <div class="structure-block-header">
                        <div class="structure-block-header__name">
                            <div class="structure-block-header__name-img">
                                <img src="/assets/images/icons/3.svg" alt="">
                            </div>
                            <p>footer</p>
                        </div>
                        <img src="/assets/images/icons/arrow.svg" alt="" class="structure-arrow">
                    </div>
                    <div class="structure-block-body">
                        <div class="main-sidebar__block-prop-select">
                            <div class="main-sidebar__block-prop-input"><label for="">Сайт</label><input type="text"
                                    value="{{ jsonItem.siteName }}" readonly><img src="/assets/images/icons/triangle.svg" alt=""></div>
                            <ul class="main-sidebar__block-prop-select-list">
                                <li>Joseph Kitchen</li>
                                <li>Umbra Shop</li>
                                <li>Mason Cash</li>
                                <li>Reisenthel</li>
                                <li>Monbento</li>
                                <li>Guzzini</li>
                                <li>Liberty Jones</li>
                                <li>Smart Solutions</li>
                                <li>Bergenson Bjorn</li>
                                <li>Silikomart</li>
                                <li>Wildtoys</li>
                                <li>SCHLEICH</li>
                                <li>Djeco</li>
                                <li>SafariToys</li>
                                <li>Typhoon</li>
                                <li>Likelunch</li>
                            </ul>
                        </div>

                        <div class="main-sidebar__block-prop-btns">
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept_add">
                                <img src="/assets/images/icons/save.svg" alt="">
                            </div>
                            <div
                                class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_add">
                                <img src="/assets/images/icons/cross.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="structure-wrapper__save">
                    <button class="structure-wrapper__save-update">Обновить шаблон</button>
                    <button class="structure-wrapper__save-copy">Копировать шаблон</button>
                    <button class="structure-wrapper__save-delete" data-id="{{ id }}">Удалить шаблон</button>
                </div>
            </div>
            <!--/block for append elements-->

            <!--blocks for mail gen-->

            <!--header-->
            <div class="main-sidebar__block-prop main-sidebar__header-block" data-block="header">
                <h4 class="main-sidebar__block-prop-title">Header</h4>
                <div class="main-sidebar__block-prop-select">
                    <div class="main-sidebar__block-prop-input">
                        <label for="">Сайт</label>
                        <input type="text" value="Monbento" readonly>
                        <img src="/assets/images/icons/triangle.svg" alt="">
                    </div>
                    <ul class="main-sidebar__block-prop-select-list">
                        <li>Joseph Kitchen</li>
                        <li>Umbra Shop</li>
                        <li>Mason Cash</li>
                        <li>Reisenthel</li>
                        <li>Monbento</li>
                        <li>Guzzini</li>
                        <li>Liberty Jones</li>
                        <li>Smart Solutions</li>
                        <li>Bergenson Bjorn</li>
                        <li>Silikomart</li>
                        <li>Wildtoys</li>
                        <li>SCHLEICH</li>
                        <li>Djeco</li>
                        <li>SafariToys</li>
                        <li>Typhoon</li>
                        <li>Likelunch</li>
                    </ul>
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="header">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>

            </div>
            <!--/header-->

            <!--banner-->
            <div class="main-sidebar__block-prop main-sidebar__banner-block" data-block="banner">
                <h4 class="main-sidebar__block-prop-title">Баннер</h4>

                <form action="" method="post" enctype="multipart/form-data">
                    <label class="input-file">
                        <div class="input-file-block">
                            <img src="/assets/images/icons/1.svg" alt="" class="banner-img">
                            <input type="file" name="userFile" accept="image/*">
                            <span>Загрузите изображение</span>
                        </div>
                    </label>
                </form>

                <div
                    class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin main-sidebar__block-prop-input_banner-link">
                    <label for="">Ссылка</label>
                    <input type="text" placeholder="Ссылка">
                </div>

                <div
                    class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin main-sidebar__block-prop-input_margin main-sidebar__block-prop-input_banner-alt">
                    <label for="">Alt текст</label>
                    <input type="text" placeholder="Alt текст">
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="banner">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--/banner-->

            <!--timer-->
            <div class="main-sidebar__block-prop main-sidebar__timer-block" data-block="timer">
                <h4 class="main-sidebar__block-prop-title">Таймер</h4>
                <div class="main-sidebar__block-prop-input">
                    <label for="">Время действия таймера</label>
                    <input type="text" value="9 дней">
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="timer">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--/timer-->

            <!--product-->
            <div class="main-sidebar__block-prop main-sidebar__single-product-block" data-block="single-product">
                <h4 class="main-sidebar__block-prop-title">Один товар</h4>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="single-product">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--product-->

            <!--two-product-->
            <div class="main-sidebar__block-prop main-sidebar__two-product-block-ver-1" data-block="two-product">
                <h4 class="main-sidebar__block-prop-title">Два товара(вариант 1)</h4>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="two-product">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--two-product-->

            <!--two-product-1-->
            <div class="main-sidebar__block-prop main-sidebar__two-product-block-ver-2" data-block="two-product-2">
                <h4 class="main-sidebar__block-prop-title">Два товара(вариант 2)</h4>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="two-product-1">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--two-product-1-->

            <!--two-product-3-->
            <div class="main-sidebar__block-prop main-sidebar__two-product-block-ver-2" data-block="two-product-3">
                <h4 class="main-sidebar__block-prop-title">Два товара(вариант 3)</h4>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="two-product-2">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--two-product-3-->

            <!--three-product-->
            <div class="main-sidebar__block-prop main-sidebar__three-product-block" data-block="three-product">
                <h4 class="main-sidebar__block-prop-title">Три товара</h4>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__product">
                    <div class="main-sidebar__product-wrapper">
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Ссылка на товар</label>
                            <input type="text" placeholder="Ссылка на товар">
                        </div>
                    </div>

                    <div class="sale-block">
                        <h4>Скидки</h4>

                        <!--wrapper for append sale item-->
                        <div class="sale-block__wrapper"></div>
                        <!--/wrapper for append sale item-->

                        <div class="sale-block__btn">
                            <p>Добавить скидку</p>
                        </div>
                    </div>
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="three-product">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--three-product-->

            <!--footer-->
            <div class="main-sidebar__block-prop main-sidebar__footer-block" data-block="footer">
                <h4 class="main-sidebar__block-prop-title">Footer</h4>

                <div class="main-sidebar__block-prop-select">
                    <div class="main-sidebar__block-prop-input main-sidebar__block-prop-input_site">
                        <label for="">Сайт</label>
                        <input type="text" value="Monbento" readonly>
                        <img src="/assets/images/icons/triangle.svg" alt="">
                    </div>
                    <ul class="main-sidebar__block-prop-select-list">
                        <li>Joseph Kitchen</li>
                        <li>Umbra Shop</li>
                        <li>Mason Cash</li>
                        <li>Reisenthel</li>
                        <li>Monbento</li>
                        <li>Guzzini</li>
                        <li>Liberty Jones</li>
                        <li>Smart Solutions</li>
                        <li>Bergenson Bjorn</li>
                        <li>Silikomart</li>
                        <li>Wildtoys</li>
                        <li>SCHLEICH</li>
                        <li>Djeco</li>
                        <li>SafariToys</li>
                        <li>Typhoon</li>
                        <li>Likelunch</li>
                    </ul>
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-main"
                        data-btn="footer">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                        class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>

            </div>
            <!--footer-->

            <!--update template-->
            <div class="main-sidebar__block-prop main-sidebar__save-template-block" data-block="update-template">
                <h4 class="main-sidebar__block-prop-title">Обновить шаблон</h4>

                <div class="main-sidebar__block-prop-input">
                    <label for="">Имя шаблона</label>
                    <input type="text" placeholder="Имя шаблона" value="{{ title }}">
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-update" data-btn="{{ id }}">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>

            </div>
            <!--update template-->

            <!--copy template-->
            <div class="main-sidebar__block-prop main-sidebar__save-template-block" data-block="copy-template">
                <h4 class="main-sidebar__block-prop-title">Скопировать шаблон</h4>

                <div class="main-sidebar__block-prop-input">
                    <label for="">Новое имя шаблона</label>
                    <input type="text" placeholder="Новое имя шаблона" value="{{ title }}">
                </div>

                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept main-sidebar__block-prop-btn_accept-save" data-btn="save-data">
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>

            </div>
            <!--copy template-->

            <!--general template settings-->
            <div class="main-sidebar__block-prop main-sidebar__general-settings" data-block="template-settings" style="display:none;">

                <h4 class="main-sidebar__block-prop-title">Настройки шаблона</h4>
                {% for jsonItem in json %}
                    {% if jsonItem.blockName == 'settings' %}
                        <div class="main-sidebar__block-prop-input">
                            <label for="">Тема письма</label>
                            <input type="text" placeholder="Тема письма" value="{{ jsonItem.mailTheme }}" id="mail-theme">
                        </div>

                        <div class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin">
                            <label for="">Цвет плашки скидки 1</label>
                            <input type="text" placeholder="#ff0000" value="{{ jsonItem.saleColor1 }}" id="sale-color-1">
                        </div>

                        <div class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin">
                            <label for="">Цвет плашки скидки 2</label>
                            <input type="text" placeholder="#ff0000" value="{{ jsonItem.saleColor2 }}" id="sale-color-2">
                        </div>

                        <div class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin">
                            <label for="">Название купона</label>
                            <input type="text" placeholder="Название купона" id="coupon-name" value="{{ jsonItem.couponName }}">
                        </div>

                        <div class="main-sidebar__block-prop-input main-sidebar__block-prop-input_margin">
                            <label for="">Скидка по купону %</label>
                            <input type="text" placeholder="Скидка по купону %" value="{{ jsonItem.salePercent }}" id="sale-percent">
                        </div>

                        {% if(jsonItem.ignoreSite) %}
                            <div class="main-sidebar__block-prop-switch main-sidebar__block-prop-input_margin">
                                <h4 class="main-sidebar__block-prop-switch-title">Игнорировать скидки сайта</h4>
                                <label class="checkbox-switch">
                                    <input type="checkbox" id="ignore-site-sale" checked>
                                    <span class="checkbox-switch-switch" data-label-on="Вкл" data-label-off="Выкл"></span>
                                </label>
                            </div>
                        {% else %}
                            <div class="main-sidebar__block-prop-switch main-sidebar__block-prop-input_margin">
                                <h4 class="main-sidebar__block-prop-switch-title">Игнорировать скидки сайта</h4>
                                <label class="checkbox-switch">
                                    <input type="checkbox" id="ignore-site-sale">
                                    <span class="checkbox-switch-switch" data-label-on="Вкл" data-label-off="Выкл"></span>
                                </label>
                            </div>
                        {% endif %}

                    {% endif %}
                {% endfor %}


                <div class="main-sidebar__block-prop-btns">
                    <div class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_accept save-settings" >
                        <img src="/assets/images/icons/save.svg" alt="">
                    </div>
                    <div
                            class="main-sidebar__block-prop-btn main-sidebar__block-prop-btn_decline main-sidebar__block-prop-btn_decline_main">
                        <img src="/assets/images/icons/cross.svg" alt="">
                    </div>
                </div>
            </div>
            <!--general template settings-->

            <!--end blocks for mail gen-->
        </div>
        <div class="main-render">
            <div class="main-render__mail">
                <h2>Рендер письма</h2>
                <div class="main-render__mail-block">
                    {{ mail | raw }}
                </div>

                <textarea name="" id="copy-block" cols="30" rows="10" value="{{ mail }}"></textarea>
            </div>
        </div>
    </div>
</main>
{% endblock %}